@font-face {
  font-family: Spartan;
  src: url(/font/LeagueSpartan-Medium.otf);
}

a:link, a:visited {
    color: #0000D0;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid #333333;
    border-collapse: collapse;
}

table th {
    background-color: #E0E0E0;
    padding: 3px;
}

table td {
    padding: 3px;
}

header {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 7px;
}

html {
    background-color: #F0F0F0;
    font-family: Spartan;
    font-size: 16px;
}

select {
    padding: 5px 20px 5px 5px;
    border: 2px solid #C0C0C0;
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat;
    background-position:right;
    color: black;
}

[role="tab"][aria-selected="true"] {
    background-color: #fff;
    border: 1px solid black;
    border-bottom: 1px solid white;
}

[role="tablist"] {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

[role="tablist"] a {
    color: black;
}

.editor {
    width: 100%;
    height: 550px;
    border: 1px solid #C0C0C0;
    background-color: white;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    min-width: 300px;
}

.output-section {
    margin: 3px 3px 30px 3px;
    padding: 5px;
    border: 1px solid #505050;
    background-color: white;
}

.output-section h3 {
    font-size: 18px;
    margin: 10px 0 0 0;
    margin-bottom: 8px;
}

.output-section .bubblegraph {
    width: 100%;
    height: 320px;
    min-width: 520px;
}

.output-section .bubblegraph .bubble ellipse {
    fill-opacity: 0.9;
    stroke-width: 2px;
}

.output-section .bubblegraph .bubble rect {
    fill-opacity: 0.9;
    stroke-width: 2px;
}

.output-section .bubblegraph .bubble text {
    font-size: 13px;
    text-anchor: middle;
    dominant-baseline: middle;
}

.output-section .bubblegraph .line {
    stroke-width: 2px;
    stroke-dasharray: 2 2;
    fill: none;
}

.output-section .bubblegraph .label {
    font-size: 14px;
}

.output-section .bubblegraph .metric-intro .label {
    text-anchor: end;
    dominant-baseline: middle;
}

.output-section .bubblegraph .region-intro .active-indicator {
    fill: #FFFFFF;
    stroke-width: 1px;
    stroke: none;
    fill-opacity: 0;
}

.output-section .bubblegraph .region-intro.active .active-indicator {
    stroke: #A0A0A0;
}

.output-section .bubblegraph .region-intro.inactive:hover .active-indicator {
    stroke: #C0C0C0;
    cursor: pointer;
}

.output-section .bubblegraph .region-intro.inactive:hover .active-indicator {
    stroke: #C0C0C0;
    cursor: pointer;
}

.output-section .bubblegraph .region-intro .label {
    text-anchor: middle;
    dominant-baseline: middle;
}

.output-section .bubblegraph-container .slope-check-holder {
    margin-bottom: 5px;
}

.output-section .config-container {
    margin-top: 15px;
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.output-section .config-container .delta-check-holder {
    margin-top: 10px;
    font-size: 16px;
}

.output-section .goals-container {
    border-bottom: 1px dotted black;
}

.output-section .goal-container {
    padding-bottom: 10px;
}

.output-section .goal-container .bar {
    margin-top: 2px;
    width: 100%;
    margin-right: 10px;
}

.output-section .goal-container .bar:first-of-type {
    margin-top: 10px;
}

.output-section .goal-container .bar .glyph-holder {
    width: 100%;
    height: 7px;
    position: relative;
    top: -5px;
}

.output-section .goal-container .bar .label {
    font-size: 14px;
}

.output-section .goal-container .bar .text {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 50% 48%;
    width: 99%;
    border-bottom: 1px dotted #A0A0A0;
    color: #505050;
}

.output-section .goal-container a {
    color: #505050;
    text-decoration: none;
}

.output-section .goal-container a:hover {
    text-decoration: underline;
}

.output-section .goal-container .bar .value {
    font-size: 12px;
    text-align: right;
    color: #707070;
    margin-right: 5px;
}

.output-section .goal-container .bar.selected .text a {
    color: #333333;
}

.output-section .goal-container .bar.selected .value {
    color: #333333;
}

.output-section .goal-container .bar.selected .value {
    color: #333333;
}

.output-section .region-container {
    margin-bottom: 15px;
    border-bottom: 1px dotted black;
}

.output-section .region-container .current-year-container {
    max-height: 512px;
    overflow-y: auto;
}

.output-section .region-container .current-year-container .stage-container {
    padding-bottom: 15px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.output-section .region-container .current-year-container .stage-container.unselected {
    opacity: 0.6;
}

.output-section .region-container .current-year-container .stage-container.unselected:hover {
    opacity: 1;
    cursor: pointer;
}

.output-section .region-container .current-year-container .stage-container .bar {
    margin-top: 3px;
    width: 100%;
    margin-right: 5px;
}

.output-section .region-container .current-year-container .stage-container .bar:first-of-type {
    margin-top: 10px;
}

.output-section .region-container .current-year-container .stage-container .bar .glyph-holder {
    width: 100%;
    height: 7px;
    position: relative;
    top: -5px;
}

.output-section .region-container .current-year-container .stage-container .bar .label {
    font-size: 14px;
}

.output-section .region-container .current-year-container .stage-container .bar .text {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 50% 48%;
    width: 99%;
    border-bottom: 1px dotted #A0A0A0;
}

.output-section .region-container .current-year-container .stage-container .bar .value {
    font-size: 12px;
    text-align: right;
    color: #505050;
}

.output-section .region-container .current-year-container .stage-container .check-holder {
    text-align: center;
    font-size: 14px;
}

.output-section .region-container .current-year-container .stage-container .subtitle {
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-top: 13px;
    margin-right: 5px;
}

.output-section .region-container .current-year-container #production-container {
    border-bottom: 1px dotted #505050;
}

.output-section .region-container .current-year-container #eol-container {
    border-bottom: 1px dotted #505050;
}

.output-section .region-container .timeseries-container {
    margin-right: 10px;
    max-height: 502px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.output-section .region-container .timeseries-container .sparklines-section {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 50% 50%;
    width: 99%;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-label {
    font-size: 11px;
    fill: #505050;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-label.value-label {
    text-anchor: end;
    vertical-align: middle;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-label.year-label {
    text-anchor: middle;
    vertical-align: top;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-label.year-label.selected-year-label {
    text-anchor: middle;
    vertical-align: baseline;
}

.output-section .region-container .timeseries-container .sparklines-section .sparkline {
    width: 100%;
    height: 100px;
}

.output-section .region-container .timeseries-container .sparklines-section .sparkline-glyph {
    fill: none;
    stroke-width: 2px;
    stroke: #505050;
}

.output-section .region-container .timeseries-container .sparklines-section .sparkline-glyph.bau-glyph {
    stroke-dasharray: 2,2;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-hover-target {
    fill-opacity: 0;
    stroke-opacity: 0;
    fill: #FFFFFF;
    stroke: #C0C0C0;
    stroke-width: 1;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-hover-target:hover {
    fill-opacity: 0.1;
    stroke-opacity: 1;
    cursor: pointer;
}

.output-section .region-container .timeseries-container .sparklines-section .spark-year-indicator {
    fill: #C0C0C0;
}

.output-section .region-container .timeseries-container .timeseries {
    height: 270px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.output-section .region-container .timeseries-container .timeseries .bar {
    opacity: 0.9;
}

.output-section .region-container .timeseries-container .timeseries .click-target {
    fill: #FFFFFF;
    fill-opacity: 0;
    stroke: none;
    stroke-width: 1px;
}

.output-section .region-container .timeseries-container .timeseries .click-target:hover {
    stroke: #C0C0C0;
    fill-opacity: 0.1;
    cursor: pointer;
}

.output-section .region-container .timeseries-container .timeseries .tick {
    fill: #505050;
    font-size: 12px;
}

.output-section .region-container .timeseries-container .timeseries .tick.value-tick {
    text-anchor: end;
    dominant-baseline: middle;
}

.output-section .region-container .timeseries-container .timeseries .tick.year-tick {
    text-anchor: middle;
    dominant-baseline: hanging;
}

.output-section .region-container .timeseries-container .timeseries .year-indicator {
    text-anchor: middle;
    font-size: 12px;
}

.overview .cards {
    margin-bottom: 20px;
}

.overview .cards .card {
    color: #505050;
    padding: 5px;
    max-width: 200px;
    border: 1px solid #C0C0C0;
    background-color: #F5F5F5;
    border-radius: 3px;
}

.overview .cards .card:hover {
    border: 1px solid #A0A0A0;
    cursor: pointer;
    color: black;
}

.overview .cards .card.active {
    border: 1px solid #A0A0A0;
    color: black;
    background-color: #FFFFFF;
}

.overview .cards .card.active:hover {
    border: 1px solid #505050;
}

.overview .cards .card .body {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.overview .menu {
    margin-bottom: 20px;
}

.overview .menu .info-target {
    text-decoration: underline;
}

.overview .panel {
    background-color: white;
    padding: 5px;
    border: 1px solid #A0A0A0;
    margin: 3px 3px 20px 3px;
}

.overview .cumulative-toggle {
    border-bottom: 1px dotted black;
    text-align: center;
}

.overview .overview-timeseries .body {
    height: 400px;
    width: 99%;
}

.overview .overview-timeseries .current-value-display .background-panel {
    fill: #FFFFFF;
    fill-opacity: 0.7;
    stroke: #1F78B4;
    stroke-width: 0.5px;
}

.overview .overview-timeseries .current-value-display .label {
    font-size: 10px;
    fill: #1f78b4;
}

.overview .overview-timeseries .current-value-display .value {
    font-size: 13px;
    fill: #1f78b4;
}

.overview .overview-timeseries .timedelta-label {
    font-size: 13px;
    fill: #505050;
}

.overview .overview-timeseries .timedelta-label.value-label {
    text-anchor: end;
    vertical-align: middle;
}

.overview .overview-timeseries .timedelta-label.year-label {
    text-anchor: middle;
    vertical-align: top;
}

.overview .overview-timeseries .timedelta-label.year-label.selected-year-label {
    text-anchor: middle;
    vertical-align: baseline;
}

.overview .overview-timeseries .timedelta-glyph {
    fill: none;
    stroke-width: 4px;
    stroke: #505050;
}

.overview .overview-timeseries .timedelta-glyph.bau-glyph {
    stroke-dasharray: 4,4;
}

.overview .overview-timeseries .timedelta-hover-target {
    fill-opacity: 0;
    stroke-opacity: 0;
    fill: #FFFFFF;
    stroke: #C0C0C0;
    stroke-width: 1;
}

.overview .overview-timeseries .timedelta-hover-target:hover {
    fill-opacity: 0.1;
    stroke-opacity: 1;
    cursor: pointer;
}

.overview .overview-timeseries .timedelta-year-indicator {
    fill: #C0C0C0;
}

.post-intro {
    opacity: 0.2;
}

.right-panel {
    background-color: white;
    padding: 5px;
    border: 1px solid #505050;
    margin: 3px 3px 20px 3px;
}

.right-panel h3 {
    margin-top: 7px;
}

.scenarios .action {
    margin-bottom: 3px;
}

.slider {
    width: 100%;
}

.tutorial {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
}

.tutorial .tutorial-cta {
    font-weight: bold;
}

.tutorial .tutorial-next {
    padding-bottom: 5px;
}

.tutorial .tutorial-next a {
    animation: flash 2s linear infinite;
    padding: 4px;
    border: 2px solid #C0C0C0;
    border-radius: 4px;
}

#add-dialog {
    width: 70%;
}

#add-dialog #policy-name-input {
    width: 90%;
}

#buttons-panel .link-holder {
    margin-bottom: 5px;
    margin-top: 5px;
}

#levers-panel details {
    margin-left: 15px;
}

#levers-panel .slider-context {
    color: #505050;
}

#levers-panel .slider-context table {
    width: 100%;
}

#levers-panel .slider-context .goals-table {
    display: none;
}

#levers-panel .slider-context table, #levers-panel .slider-context th, #levers-panel .slider-context td {
    color: #505050;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

#levers-panel label {
    font-weight: bold;
}

#levers-panel .error-indicator {
    display: none;
}

#levers-panel .inspects-area {
    margin-top: 15px;
}

#levers-panel .lever-section {
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px dotted black;
}

#levers-panel .lever-section-title {
    font-size: 21px;
}

#levers-panel .lever-section {
    margin-top: 15px;
    margin-bottom: 30px;
}

#levers-panel .slider-holder {
    margin-top: 15px;
    margin-bottom: 30px;
}

#levers-panel .status-display {
    background-color: #E0D000;
    padding: 2px;
    color: black;
}

#levers-panel .wiki-info {
    padding-bottom: 20px;
}

#loaded {
    opacity: 0;
}

#loading-indicator {
    background-color: white;
    padding: 5px;
    border: 1px solid #A0A0A0;
    margin: 3px 3px 20px 3px;
    text-align: center;
}

#prototype input {
    width: 90%;
}

#prototype .goals-table {
    display: none;
}

#prototype table, #prototype th, #prototype td {
    color: #505050;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}


/* Responsive for details tab overall */

@media (max-width: 1200px) {
    .output-section h3 {
        font-size: 15px;
    }

    .output-section .region-container .current-year-container .stage-container .subtitle {
        font-size: 13px;
        margin-right: 2px;
        margin-top: 12px;
    }
}


/* Responsive for top of details tab with goals */

@media (max-width: 699px) {
    .output-section .goals-container {
        max-height: 235px;
        overflow-y: auto;
    }

    .output-section .goal-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .output-section .goal-container.inner {
        border-bottom: 1px dotted #505050;
    }
}


@media (min-width: 700px) {
    @media (max-width: 1049px) {
        .output-section .goals-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .output-section .goal-container.even {
            border-right: 1px dotted black;
        }

        .output-section .goal-container.odd {
            padding-left: 5px;
        }

        .output-section .goal-container.top {
            border-bottom: 1px dotted black;
        }
    }
}


@media (min-width: 1050px) {
    .output-section .goals-container {
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }

    .output-section .goal-container.inner {
        border-right: 1px dotted black;
    }
}


/* Responsive for layout of panels on details tab */

@media (min-width: 1000px) {
    .panel-box.active {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 65% 35%;
        width: 99%;
    }
}


@media (max-width: 999px) {
    #layout-panel {
        display: none;
    }
}


/* Responsive for charts on details tab */

@media (min-width: 700px) {
    .output-section .region-container {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 30% 70%;
    }

    .output-section .region-container .current-year-container {
        border-right: 1px dotted black;
    }
}

@media (max-width: 699px) {
    .output-section .bubblegraph-container {
        overflow-x: auto;
    }

    .output-section .goal-container.inner {
        border-bottom: 0px;
    }

    .output-section .region-container .current-year-container {
        border-bottom: 1px dotted black;
    }

    .output-section .region-container .current-year-container #production-container {
        border-bottom: 0px;
    }

    .output-section .region-container .current-year-container #eol-container {
        border-bottom: 0px;
    }

    .panel-box {
        margin-right: 20px;
    }
}


/* Responsive for layout on overview */

@media (max-width: 849px) {
    .overview .cards {
        display: grid;
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: 50% 50%;
    }

    .overview .cards .card {
        max-width: 90%;
    }

    .overview .overview-section {
        border-bottom: 1px dotted black;
    }

    .overview .overview-section.last {
        border-bottom: none;
    }
}

@media (max-width: 1000px) {
    @media (min-width: 851px) {
        .overview .cards .card {
            max-width: 165px;
        }
    }
}

@media (min-width: 850px) {
    .overview .cards {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .overview .middle {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 30% 70%;
        width: 99%;
        border-bottom: 1px dotted black;
    }

    .overview #raw-scorecard {
        border-bottom: 1px dotted black;
    }

    .overview #scenarios {
        border-right: 1px dotted black;
    }
}

@media (min-width: 1200px) {
    .overview .cards .card {
        max-width: 250px;
    }
}

@media (min-width: 1300px) {
    .overview .middle {
        grid-template-columns: 25% 75%;
    }
}

/* Responsive for tabs */

@media (max-width: 480px) {
    [role="tab"][aria-selected="true"] {
        border-bottom: 1px solid black;
    }
}

@keyframes flash {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}
