@font-face {
  font-family: Spartan;
  src: url(/font/LeagueSpartan-Medium.otf);
}

table, th, td {
    border: 1px solid #333333;
    border-collapse: collapse;
}

table th {
    background-color: #E0E0E0;
    padding: 3px;
}

table td {
    padding: 3px;
}

header {
    padding-bottom: 5px;
    border-bottom: 1px solid #333333;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 7px;
}

html {
    background-color: #F0F0F0;
    font-family: Spartan;
}

.editor {
    width: 100%;
    height: 550px;
    border: 1px solid #C0C0C0;
    background-color: white;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    min-width: 300px;
}

.output-section {
    margin: 3px 3px 30px 3px;
    padding: 5px;
    border: 1px solid #505050;
    background-color: white;
}

.output-section h3 {
    font-size: 18px;
    margin: 10px 0 0 0;
    margin-bottom: 8px;
}

.output-section .bubblegraph {
    width: 100%;
    height: 300px;
}

.output-section .bubblegraph .bubble ellipse {
    fill-opacity: 0.9;
    stroke-width: 2px;
}

.output-section .bubblegraph .bubble text {
    font-size: 13px;
    text-anchor: middle;
    dominant-baseline: middle;
}

.output-section .bubblegraph .line {
    stroke-width: 2px;
    stroke-dasharray: 2 2;
    fill: none;
}

.output-section .bubblegraph .label {
    font-size: 14px;
}

.output-section .bubblegraph .metric-intro .label {
    text-anchor: end;
    dominant-baseline: middle;
}

.output-section .bubblegraph .region-intro .active-indicator {
    fill: #FFFFFF;
    stroke-width: 1px;
    stroke: none;
}

.output-section .bubblegraph .region-intro.active .active-indicator {
    stroke: #A0A0A0;
}

.output-section .bubblegraph .region-intro.inactive:hover .active-indicator {
    stroke: #C0C0C0;
    cursor: pointer;
}

.output-section .bubblegraph .region-intro.inactive:hover .active-indicator {
    stroke: #C0C0C0;
    cursor: pointer;
}

.output-section .bubblegraph .region-intro .label {
    text-anchor: middle;
    dominant-baseline: middle;
}

.output-section .bubblegraph-container .slope-check-holder {
    margin-bottom: 5px;
}

.output-section .config-container {
    margin-top: 15px;
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.output-section .region-container {
    margin-bottom: 15px;
    border-bottom: 1px dotted black;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 30% 70%;
    width: 99%;
}

.output-section .region-container .current-year-container {
    border-right: 1px dotted black;
}

.output-section .region-container .current-year-container .stage-container {
    padding-bottom: 10px;
}

.output-section .region-container .current-year-container .stage-container .bar {
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    margin-right: 5px;
}

.output-section .region-container .current-year-container .stage-container .bar .glyph {
    margin-top: -1px;
    margin-bottom: 1px;
    height: 7px;
}

.output-section .region-container .current-year-container .stage-container .bar .label {
    font-size: 14px;
}


.output-section .region-container .current-year-container .stage-container .bar .text {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 60% 38%;
    width: 99%;
    border-bottom: 1px dotted #A0A0A0;
}

.output-section .region-container .current-year-container .stage-container .bar .value {
    font-size: 12px;
    text-align: right;
    color: #505050;
}

.output-section .region-container .current-year-container #eol-container {
    border-bottom: 1px dotted black;
}

.panel-box {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 65% 35%;
    width: 99%;
}

.slider {
    width: 100%;
}

#levers-panel {
    background-color: white;
    padding: 5px;
    border: 1px solid #505050;
    margin: 3px;
}

#levers-panel details {
    margin-left: 15px;
}

#levers-panel label {
    font-weight: bold;
}

#levers-panel .error-indicator {
    display: none;
}

#levers-panel .inspects-area {
    margin-top: 15px;
}

#levers-panel .lever-section {
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px dotted black;
}

#levers-panel .lever-section-title {
    font-size: 21px;
}

#levers-panel .lever-section {
    margin-top: 15px;
    margin-bottom: 30px;
}

#levers-panel .slider-holder {
    margin-top: 15px;
    margin-bottom: 30px;
}

#levers-panel .status-display {
    background-color: #E0D000;
    padding: 2px;
}

#levers-panel .wiki-info {
    padding-bottom: 20px;
}

#prototype input {
    width: 90%;
}
