        <main>
            <div id="loading-indicator">
                Loading please wait...
            </div>
            <div id="loaded">
                <ul data-tabs>
                    <li><a data-tabby-default href="#overview">Overview</a></li>
                    <li><a href="#detailed">Details</a></li>
                </ul>

                <div id="overview" class="overview">
                    <div class="panel overview-panel" id="overview-panel">
                        <div class="overview-section cumulative-toggle">
                            <h3>
                                Showing Plastic
                                <select class="goal-select">
                                    <option value="mismanagedWaste" selected>Mismanaged Waste</option>
                                    <option value="incineratedWaste">Incinerated Waste</option>
                                    <option value="landfillWaste">Landfill Waste</option>
                                    <option value="totalWaste">Total Waste</option>
                                </select>
                                as
                                <select class="metric-select">
                                    <option value="annual" selected>Annual</option>
                                    <option value="cumulative">Cumulative from 2010 in</option>
                                    <option value="reference">Annual Difference to 2023 in</option>
                                </select>
                                Million Metric Tons.
                            </h3>
                            <div class="tutorial">
                                <p>
                                    <div class="tutorial-cta">🏁 Start here:</div>
                                    This tool lets you explore plastics outcomes under different policy scenarios. We will start with waste. For example, we will try to reduce the amount of plastic waste that is incinerated or added to landfill in each year.
                                </p>
                                <p>
                                    I've configured the dropdown menus above to have this tool first look at the annual generation of a particlarly problematic type of waste: mismanaged waste. This includes, for example, plastic waste on the side of the street or thrown in the ocean. 
                                </p>
                                <p>
                                    Click next to enable the visualization below which will allow you to turn different policies on and off, seeing their impact on four waste metrics we are trying to reduce.
                                </p>
                                <div class="tutorial-next">
                                    <a class="tutorial-next-button" href="#raw-scorecard">Next >></a>
                                </div>
                            </div>
                        </div>
                        <div class="scorecard overview-section raw-scorecard" id="raw-scorecard">
                            <div class="post-intro">
                                <h3>Global <span class="year">2049</span> Plastics Projections</h3>
                            </div>
                            <div class="cards">
                                <div class="card mismanaged-waste-card post-intro post-intro-early" goal="mismanagedWaste">
                                    <div class="title">Mismanaged Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                                <div class="card incinerated-waste-card post-intro" goal="incineratedWaste">
                                    <div class="title">Incinerated Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                                <div class="card landfill-waste-card post-intro" goal="landfillWaste">
                                    <div class="title">Landfill Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                                <div class="card total-waste-card post-intro" goal="totalWaste">
                                    <div class="title">Total Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                            </div>
                        </div>
                        <div class="middle">
                            <div class="scenarios overview-section post-intro" id="scenarios">
                                <h3>Policies</h3>
                                <div class="menu"></div>
                                <div class="cta">
                                    <div class="action"><a href="#detailed" id="detailed-cta">Customize policy details >></a></div>
                                    <div class="action"><a href="#add-policy" id="add-policy-link">Add policy option >></a></div>
                                    <div class="action"><a href="#save" class="save-link">Save >></a> // <a href="#load" class="load-link">Load >></a></div>
                                    <div class="action"><a href="#share" class="share-link">Share >></a> // <a href="#reset" class="reset-link">Reset >></a></div>
                                </div>
                            </div>
                            <div class="overview-timeseries overview-section post-intro post-intro-early" id="overview-timeseries">
                                <h3 class="title">Global Metrics over Time</h3>
                                <svg class="body"></svg>
                                <div class="legend">
                                    <img src="/img/tab_1_legend.png" alt="Legend showing solid lines include interventions and dotted lines do not">
                                </div>
                            </div>
                        </div>
                        <div class="scorecard overview-section last relative-scorecard" id="relative-scorecard">
                            <div class="post-intro">
                                <h3>Impact of Policies on Global <span class="year">2049</span> Plastics Projections</h3>
                            </div>
                            <div class="cards">
                                 <div class="card mismanaged-waste-card post-intro post-intro-early" goal="mismanagedWaste">
                                    <div class="title">Mismanaged Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                                <div class="card incinerated-waste-card post-intro" goal="incineratedWaste">
                                    <div class="title">Incinerated Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                                <div class="card landfill-waste-card post-intro" goal="landfillWaste">
                                    <div class="title">Landfill Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                                <div class="card total-waste-card post-intro" goal="totalWaste">
                                    <div class="title">Total Waste</div>
                                    <div class="body">1234</div>
                                    <div class="footer">Million Metric Tons</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="detailed">
                    <div class="panel-box active" id="panel-box">
                        <div class="panel">
                            <div class="output-section">
                                <div id="config-container" class="config-container">
                                    <div>
                                        <span>Showing</span>
                                        <select class="stage-select" id="stage-select">
                                        </select>
                                        <span>in</span>
                                        <select class="region-select" id="region-select">
                                        </select>
                                        <span>at</span>
                                        <select class="year-select" id="year-select">
                                        </select>
                                        <span>as</span>
                                        <select class="type-select" id="type-select">
                                        </select>
                                        <span>.</span>
                                    </div>
                                    <div class="delta-check-holder">
                                        <label for="show-delta"><input type="checkbox" name="show-delta" id="show-delta" class="show-delta"> Show change from baseline due to interventions.</label>
                                    </div>
                                    <div class="tutorial">
                                        <p>
                                            <div class="tutorial-cta">🏁 Start here:</div>
                                            This second details tab allows you to continue your work from the first overview tab, seeing the impacts of policies across more metrics and at a regional level. For example, in addition to waste, you can change to other dimensions like consumption by sector.
                                        </p>
                                        <p>
                                            Your policy selections from the first tab are active in the visualization below. Note that a checkbox above also allows you visualize the change from business as usual in addition to the raw projections given your selected policy scenario.
                                        </p>
                                        <p>
                                            Click next to enable the visualization below and explore the categories of detailed policy interventions, further editing your selections from the overview tab.
                                        </p>
                                        <div class="tutorial-next">
                                            <a class="tutorial-next-button" href="#raw-scorecard">Next >></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="goals-container-outer" data-simplebar data-simplebar-auto-hide="false">
                                    <div id="gloals-container" class="goals-container post-intro">
                                        <div class="goal-container inner top even" id="mismanaged-waste-goal-container">
                                            <h3>Mismanaged Waste</h3>
                                            <div class="bars"></div>
                                        </div>
                                        <div class="goal-container inner top odd" id="incinerated-waste-goal-container">
                                            <h3>Incinerated Waste</h3>
                                            <div class="bars"></div>
                                        </div>
                                        <div class="goal-container inner even" id="landfill-waste-goal-container">
                                            <h3>Landfill Waste</h3>
                                            <div class="bars"></div>
                                        </div>
                                        <div class="goal-container odd" id="total-waste-goal-container">
                                            <h3>Total Waste</h3>
                                            <div class="bars"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="region-container" class="region-container post-intro post-intro-early">
                                    <div id="current-year-container" class="current-year-container" data-simplebar data-simplebar-auto-hide="false">
                                        <div id="eol-container" class="stage-container">
                                            <div class="subtitle"></div>
                                            <h3><span class="description">EOL</span></h3>
                                            <div class="bars"></div>
                                            <div class="check-holder">
                                                <label for="eol-radio"><input type="radio" class="stage-radio" id="eol-radio" value="eol"> Show Waste</label>
                                            </div>
                                        </div>
                                        <div id="production-container" class="stage-container">
                                            <div class="subtitle"></div>
                                            <h3><span class="description">Production</span></h3>
                                            <div class="bars"></div>
                                            <div class="check-holder">
                                                <label for="production-radio"><input type="radio" class="stage-radio" id="production-radio" value="production"> Show Production</label>
                                            </div>
                                        </div>
                                        <div id="consumption-container" class="stage-container">
                                            <div class="subtitle"></div>
                                            <h3><span class="description">Consumption</span></h3>
                                            <div class="bars"></div>
                                            <div class="check-holder">
                                                <label for="consumption-radio"><input type="radio" class="stage-radio" id="consumption-radio" value="consumption"> Show Consumption</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="timeseries-container" class="timeseries-container post-intro post-intro-early" data-simplebar data-simplebar-auto-hide="false">
                                        <h3 class="title">Timeseries</h3>
                                        <div class="slope-check-holder">
                                            <label for="history-check"><input type="checkbox" id="history-check" class="history-check">Historical</label>
                                        </div>
                                        <div>
                                            <svg class="timeseries" id="timeseries"></svg>
                                        </div>
                                        <div class="sparklines-section" id="sparklines-section">
                                        </div>
                                        <div class="legend">
                                            <img src="/img/tab_2_legend.png" alt="Legend showing solid lines include interventions and dotted lines do not">
                                        </div>
                                    </div>
                                </div>
                                <div id="bubblegraph-container" class="bubblegraph-container post-intro" data-simplebar data-simplebar-auto-hide="false">
                                    <h3 class="title"></h3>
                                    <div class="slope-check-holder">
                                        <label for="slope-check"><input type="checkbox" id="slope-check" class="slope-check">Sort</label>
                                    </div>
                                    <svg id="bubblegraph" class="bubblegraph" id="bubblegraph"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div id="buttons-panel" class="right-panel post-intro">
                                <h3>Policy</h3>
                                <div class="link-holder"><a href="#overview" id="overview-cta">Return to overview >></a></div>
                                <div class="link-holder"><a href="#save" class="save-link">Save >></a> // <a href="#load" class="load-link">Load >></a></div>
                                <div class="link-holder"><a href="#share" class="share-link">Share >></a> // <a href="#reset" class="reset-link">Reset >></a></div>
                            </div>
                            <div id="levers-panel" class="right-panel post-intro">
                                <div id="levers-panel-inner"></div>
                                <div class="lever-section" id="prototype">
                                    <details id="lever-section-prototype">
                                        <summary class="lever-section-title">Prototype</summary>
                                        <p class="section-levers">
                                            <div class="slider-holder" id="slider-holder-prototype">
                                                <div id="prototype-intro"><span class="error-indicator">⚠️</span><label for="input-prototype"><span id="title-{{variable}}">Value of in.prototype</span>: <span class="delta-display" id="display-prototype"></span></label></div>
                                                <input type="number" value="0" class="slider" id="input-prototype">
                                                <table class="goals-table">
                                                    <tr>
                                                        <td></td>
                                                        <td><span class="goal-table-year"></span> Production Emissions</td>
                                                        <td><span class="goal-table-year"></span> Consumption Emissions</td>
                                                        <td><span class="goal-table-year"></span> Landfill Waste</td>
                                                        <td><span class="goal-table-year"></span> Mismanaged Waste</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="global-table-region"></td>
                                                        <td class="goal-table-mismanaged-waste"></td>
                                                        <td class="goal-table-incinerated-waste"></td>
                                                        <td class="goal-table-landfill-waste"></td>
                                                        <td class="goal-table-total-consumption"></td>
                                                    </tr>
                                                </table>
                                                <div class="status-display"></div>
                                                <div class="editor" id="editor-prototype">var test = in.prototype + 10;</div>
                                                <div class="inspects-area"></div>
                                            </div>
                                        </p>
                                    </details>
                                </div>
                            </div>
                            <div id="layout-panel" class="right-panel post-intro">
                                <h3>Layout</h3>
                                <div><input type="radio" id="side-by-side-radio" name="layout" value="side" class="layout-radio" checked><label for="side-by-side-radio">Side by side</label></div>
                                <div><input type="radio" id="linear-radio" name="layout" value="linear" class="layout-radio"><label for="linear-radio">Linear</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <dialog id="add-dialog">
            <form>
                <p>
                    <p>
                    You can add your current custom policy as a new policy option, creating a checkbox for it on the menu. Alternatively, you can also enter a link to add a shared custom policy, adding it to the options menu with a new checkbox.
                    </p>
                    <p>
                        <div><label for="policy-name">Policy Name:</label></div>
                        <div><input type="text" name="policy-name" id="policy-name-input"></div>
                    </p>
                    <div>
                        <label for="add-current-radio"><input type="radio" name="add-method" value="add-current" id="add-current-radio" checked> Add current custom policy as an option.</label>
                    </div>
                    <div>
                        <label for="add-url-radio"><input type="radio" name="add-method" value="add-url" id="add-url-radio"> Add shared policy as an option using its URL.</label>
                    </div>
                </p>
                <div>
                  <button value="cancel" formmethod="dialog">Cancel</button>
                  <button id="continue-add-button" value="default">Continue</button>
                </div>
            </form>
        </dialog>
