<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Global Plastics Tool</title>
        <link rel="stylesheet" href="third_party/tabby-ui.min.css">
        <link rel="stylesheet" href="css/base.css?v=EPOCH">
    </head>
    <body>
        <header>
            <h1>Global Plastic Policy Tool </h1>
            <div>Countries are exploring way to reduce the impact of plastic both in the form of waste on our land, air, and seas as well as the associated greenhouse emissions. This tool helps you explore the impacts of different policy interventions on plastic waste and emissions in your different regions as well as cumulatively on our planet for the greater good of all.</div>
        </header>

        $target

        <script type="text/javascript" src="third_party/ace.min.js"></script>
        <script type="text/javascript" src="third_party/d3.min.js"></script>
        <script type="text/javascript" src="third_party/handlebars.min.js"></script>
        <script type="text/javascript" src="third_party/papaparse.min.js"></script>
        <script type="text/javascript" src="third_party/popper.min.js"></script>
        <script type="text/javascript" src="third_party/tabby.min.js"></script>
        <script type="text/javascript" src="third_party/tippy.min.js"></script>

        <script type="text/javascript" src="./js/plastics_lang.js?v=EPOCH"></script>

        <script type="importmap">
            {
                "imports": {
                    "compiler": "./js/compiler.js?v=EPOCH",
                    "const": "./js/const.js?v=EPOCH",
                    "cumulative": "./js/cumulative.js?v=EPOCH",
                    "data": "./js/data.js?v=EPOCH",
                    "file": "./js/file.js?v=EPOCH",
                    "geotools": "./js/geotools.js?v=EPOCH",
                    "goals": "./js/goals.js?v=EPOCH",
                    "overview": "./js/overview.js?v=EPOCH",
                    "overview_scenario": "./js/overview_scenario.js?v=EPOCH",
                    "overview_scorecard": "./js/overview_scorecard.js?v=EPOCH",
                    "overview_timedelta": "./js/overview_timedelta.js?v=EPOCH",
                    "report": "./js/report.js?v=EPOCH",
                    "report_bubble": "./js/report_bubble.js?v=EPOCH",
                    "report_config": "./js/report_config.js?v=EPOCH",
                    "report_goals": "./js/report_goals.js?v=EPOCH",
                    "report_sparklines": "./js/report_sparklines.js?v=EPOCH",
                    "report_stage": "./js/report_stage.js?v=EPOCH",
                    "report_timeseries": "./js/report_timeseries.js?v=EPOCH",
                    "slider": "./js/slider.js?v=EPOCH",
                    "strings": "./js/strings.js?v=EPOCH",
                    "visitors": "./js/visitors.js?v=EPOCH",
                    "driver": "./js/driver.js?v=EPOCH"
                }
            }
        </script>

        <script type="module">
            import { main } from "driver";
            main(true, false);
        </script>
    </body>
</html>