<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Global Plastics Tool</title>
        <link rel="stylesheet" href="third_party/tabby-ui.min.css">
        <link rel="stylesheet" href="third_party/simplebar.css">
        <link rel="stylesheet" href="css/base.css?v=EPOCH">
        <link rel="stylesheet" href="css/hide-details-goals.css?v=EPOCH">

        <link rel="author" href="humans.txt" />

        <meta property="og:title" content="Global Plastics Tool" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="Interactive tool for estimating impacts of plastics policies.">
        <meta property="og:url" content="https://global-plastics-tool.org/" />
        <meta property="og:image" content="https://global-plastics-tool.org/img/card.png" />

        <meta name="twitter:title" content="Global Plastics Tool">
        <meta name="twitter:description" content="Interactive tool for estimating impacts of plastics policies.">
        <meta name="twitter:image" content="https://global-plastics-tool.org/img/card.png">
        <meta name="twitter:card" content="summary_large_image">

        <meta charset="UTF-8">
        <meta name="description" content="Interactive open source tool for estimating impacts of plastics policies using machine learning, serving as a resource in data-driven policy.">
        <meta name="keywords" content="plastics, policy, machine learning, ML, AI, visualization, data, open source, open science">
        <meta name="author" content="Schmidt Center for Data Science and Environment at UC Berkeley and Benioff Ocean Science Laboratory at UC Santa Barbara. See humans.txt.">
    </head>
    <body>
        <a class="skip-link" href="#main">
            Skip to content
        </a>
        <header>
            <h1>Global Plastic Policy Tool </h1>
            <div>Countries are exploring ways to reduce the impact of plastic. This tool explores different policy interventions both regionally and globally.</div>
        </header>

        $target

        <!-- Check for errors -->
        <script src="https://js.sentry-cdn.com/2ee7c86623d4fda26896db4fd757096f.min.js" crossorigin="anonymous"></script>

        <script type="text/javascript">
            Sentry.init({
                ignoreErrors: [
                    // Spurious error from safe links scanner
                    "Non-Error promise rejection captured with value: Object Not Found Matching Id:",
                ],
            });
        </script>

        <!-- Check browser and load shim -->
        <script type="text/javascript" src="third_party/ua-parser.min.js"></script>
        <script type="text/javascript">
            var SUPPORTED_OPTIONS = {
                "Microsoft Edge": 100,
                "Edge": 100,
                "Firefox": 106,
                "Chrome": 100,
                "Opera": 86,
                "Safari": 12,
                "Mobile Safari": 14,
                "Mobile Chrome": 92,
                "Mobile Firefox": 114
            };


            function isSupported() {
                try {
                    var uap = new UAParser();
                    var result = uap.getResult();
                    var browser = result.browser;

                    if (SUPPORTED_OPTIONS[browser.name] === undefined) {
                        return false;
                    }

                    var minVersion = SUPPORTED_OPTIONS[browser.name];
                    var majorVersion = parseFloat(browser.major);

                    if (majorVersion < minVersion) {
                        return false;
                    } else {
                        return true;
                    }
                } catch {
                    return false;
                }
            }


            function checkBrowser() {
                if (isSupported()) {
                    document.getElementById("browser-warning").style.display = "none";
                }
            }


            checkBrowser();
        </script>
        <script type="text/javascript" src="third_party/es-module-shims.js"></script>
        <script type="text/javascript" src="third_party/pollyfill.min.js?v=EPOCH"></script>

        <!-- Load third party open source dependencies -->
        <script type="text/javascript" src="third_party/ace.min.js"></script>
        <script type="text/javascript" src="third_party/js.cookie.min.js"></script>
        <script type="text/javascript" src="third_party/d3.min.js"></script>
        <script type="text/javascript" src="third_party/handlebars.min.js"></script>
        <script type="text/javascript" src="third_party/papaparse.min.js"></script>
        <script type="text/javascript" src="third_party/popper.min.js"></script>
        <script type="text/javascript" src="third_party/simplebar.min.js"></script>
        <script type="text/javascript" src="third_party/tabby.min.js"></script>
        <script type="text/javascript" src="third_party/tippy.min.js"></script>

        <!-- Load application -->
        <script type="text/javascript" src="./js/plastics_lang.js?v=EPOCH"></script>

        <script type="importmap">
            {
                "imports": {
                    "compiler": "./js/compiler.js?v=EPOCH",
                    "const": "./js/const.js?v=EPOCH",
                    "data": "./js/data.js?v=EPOCH",
                    "file": "./js/file.js?v=EPOCH",
                    "geotools": "./js/geotools.js?v=EPOCH",
                    "goals": "./js/goals.js?v=EPOCH",
                    "intro": "./js/intro.js?v=EPOCH",
                    "overview": "./js/overview.js?v=EPOCH",
                    "overview_scenario": "./js/overview_scenario.js?v=EPOCH",
                    "overview_scorecard": "./js/overview_scorecard.js?v=EPOCH",
                    "overview_timedelta": "./js/overview_timedelta.js?v=EPOCH",
                    "report": "./js/report.js?v=EPOCH",
                    "report_bubble": "./js/report_bubble.js?v=EPOCH",
                    "report_config": "./js/report_config.js?v=EPOCH",
                    "report_goals": "./js/report_goals.js?v=EPOCH",
                    "report_sparklines": "./js/report_sparklines.js?v=EPOCH",
                    "report_stage": "./js/report_stage.js?v=EPOCH",
                    "report_timeseries": "./js/report_timeseries.js?v=EPOCH",
                    "slider": "./js/slider.js?v=EPOCH",
                    "strings": "./js/strings.js?v=EPOCH",
                    "transformation": "./js/transformation.js?v=EPOCH",
                    "visitors": "./js/visitors.js?v=EPOCH",
                    "driver": "./js/driver.js?v=EPOCH"
                }
            }
        </script>

        <script type="module">
            import { main } from "driver";
            main(true, false, false);
        </script>
    </body>
</html>
