data
deploy
node_modules
intermediate/static
intermediate/PlasticsLang.*
intermediate/PlasticsLangLexer.*
intermediate/PlasticsLangListener.js
intermediate/PlasticsLangVisitor.js
intermediate/PlasticsLangParser.js
language/*.jar
test/qunit.css
test/qunit.min.js
third_party

index.html
preview.html
test/harness.html

.gitpod.yml

img/line.png
img/waste.png
img/consumption.png

js/plastics_lang.js
js/visitors.js

js_standalone/engine/const.js
js_standalone/engine/plastics_lang.js
js_standalone/engine/standalone_visitors.js
js_standalone/engine/plastics_lang_bootstrap.js

package-lock.json